html, body, header, nav, h1, a,
 ul, li, strong, main, button, i,
 section, img, div, h2, h3, p, form, figure,
 fieldset, label, input, textarea,
 span, article, footer, time, small {
   margin: 0;
   padding: 0;
   border: 0;
   outline: 0;
   font: inherit;
   color: inherit;
   text-align: inherit;
   text-decoration: inherit;
   vertical-align: inherit;
   box-sizing: inherit;
   background: transparent;
 }

 body{
   font-family: 'Press Start 2P', cursive;
   color:#fff;
   box-sizing:border-box;
 }

 ul{
   list-style:none;
 }

.group:after{
  display:block;
  content: "";
  clear:both;

}
.game-info-list{
  margin-top:20px;
}
.game-info-list li{
  float:left;
  margin-right:20px;
}

.game-info{
  display:none;
}

.game-info-list li.lives{
  float:right;
}

.game-info-list li span{
  color: #00fc42;
}

.instructions h1, .game-over h1{
  font-size:36px;
  text-align:center;
  margin-bottom:40px;
}

.instructions figure{
  width:650px;
  margin:0 auto;
}

.canvas{
  position:relative;
}

.game-over{
  padding-top:20px;
  position:absolute;
  top:440;
  display:none;
}

.instructions h3, .game-over h3{
  font-size:24px;
    text-align:center;
    margin-bottom:20px;
}
.game-info, .instructions, .game-over{
  width:1000px;
  background:#000;
  padding:20px;
}

.instructions-list li{
  text-align:center;
  margin-bottom:10px;
}

h2{
  margin-top:10px;
}


button{
  display:block;
  width:200px;
  margin:0 auto;
  text-align:center;
  border:5px #fff solid;
  padding:20px;
  margin-top:40px;
  margin-bottom:20px;
  cursor:pointer;
}

button:hover{
  background:#00fc42;
  border: #00fc42 5px solid;
  color:#000;
}
