html, body, header, nav, h1, a,
 ul, li, strong, main, button, i,
 section, img, div, h2, h3, p, form, figure,
 fieldset, label, input, textarea,
 span, article, footer, time, small {
   margin: 0;
   padding: 0;
   border: 0;
   outline: 0;
   font: inherit;
   color: inherit;
   text-align: inherit;
   text-decoration: inherit;
   vertical-align: inherit;
   box-sizing: inherit;
   background: transparent;
 }

 body{
   font-family: 'Press Start 2P', cursive;
   color:#fff;
   box-sizing:border-box;
 }

 ul{
   list-style:none;
 }

.group{
  display:block;
  content: "";
  clear:both;
}

canvas{

}
.game-info, .instructions{
  width:1000px;
  background:#000;
  padding:20px;
}

.instructions-list li{
  text-align:center;
  margin-bottom:10px;
}

h2{
  margin-top:10px;
}

button{
  display:block;
  width:200px;
  margin:0 auto;
  text-align:center;
  border:5px #fff solid;
  padding:20px;
  margin-top:20px;
  cursor:pointer;
}

button:hover{
  background:#fff;
  color:#000;
}
